.container{
  width: 100vw;
  height: 100vh;
  background-image: url("/fundo.jpg");
  background-size: cover;
  background-position: center;
}

.titulo{
  background-color: red;
  border: 2px solid green;
}

.div1{
  background-color: red;
  width: 700px;
  margin: auto;
}

.div2{
  background-color: green;
  width: 700px;
  padding: 25px;
  margin: auto;
}

.paragrafo{
  font-family: Arial;
  text-decoration: underline;
}

.link{
  font-family: "Times New Roman";
  font-weight: bold;
  text-decoration: none;
}

.container2{
  display: flex;
  gap: 20px;
}

.produto{
  background-color: green;
  width: 180px;
  text-align: center;
}

.produto img{
  width: 150px;
}

.rodape{
  background-color: gray;
  text-align: center;
  margin-top: 20px;
}